body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #faf7f0;
  letter-spacing: 0.1vw;
  margin-bottom: 0;
}

nav{
  background-color: #2F3B49;
  color: #fff;
  font-weight: bold;
}

.navbar-toggler .navbar-toggler-icon {
  color: white; 
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 2.6vh;
  font-weight: lighter;
}

.navbar a:hover {
  color: #9ADEF8;
}

.logo {
  height: 6vh;
  padding: 0vw;
  margin: 0vw;
  margin-left: 2vw;
}

.udvozles p{
  font-size: 2.2vw;
  padding: 0vh;
  margin: 0vh;
  margin-top: 1vh;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color:#ffffff;
  font-weight: bold;
  -webkit-text-stroke: 2px #2F3B49;
}

.container{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: #2F3B49;
}

.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 10px 0;
  padding: 0.2vw;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #2F3B49;
}
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }

 form .button{
   height: 45px;
   margin: 0vw 0vw 2vw 0vw;
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: #2F3B49;
 }
 form .button input:hover{
  background: #2F3B49;
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}

.udvozles{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  padding-top: 1vw;
  margin-bottom: 3vw;
  background-image: url(imgs/fkep1.1.jpg);
  height: 37vw;
  background-size: cover;
  background-position: center;
  font-weight: bold;
  color: #ffffff;
} 

.tartalom{
  background-color: #faf7f0;
  margin-left: 4vw;
  margin-right: 4vw;
  margin-bottom: 10vw;
  padding-top: 0vw;
}

a{
  text-decoration: none;
  color: black;
}

.zoom {
  transition: transform .9s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5); 
}

.cardMainPage {
  transition: transform .9s;
  margin: 0 auto;
  width: fit-content;
  margin: 1vw;
}

.cardMainPage:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); 
  cursor: pointer;
}

footer{
  background-color: #2F3B49;
  color: #fff;
  align-items: center;
  width: 100%;
  font-size: 1.8vh;
  padding: 1px;
}

.left-side, .right-side {
width: 60%;
padding: 20px;
border: 1px solid #ccc;
}

.left-side{
margin-right: 5%;
}

.regisztracio, .bejelentkezes{
border: 0.1vw solid #2F3B49;
padding: 0vw 1vw 0vw 1vw;
margin-top: 1.5vw;
border-radius: 1%;
} 

.termekCard{
  height: 100%;
}

.termekCard h6{
  font-size: 2vh;
}

.termekCard p{
  font-size: 1.7vh;
}

.card {
  height: 100%;
  cursor: pointer;
}

/* Kártya méretének beállítása négyzetesre */
.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Stílusok a szűrőgombokhoz */
.filter-btn {
  margin-right: 10px;
}

/* Kijelölési stílus a kijelölt szűrőgombhoz */
.filter-btn.active {
  background-color: #2F3B49;
  color: white;
  border: 0;
}

#filterByPrice{
  background-color: #2F3B49;
  color: white;
}

#priceSlider .noUi-connect {
  background: #2F3B49; 
}

.rolunkTartalom {
  padding: 20px;
  margin: 0vw 4vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.rolunkTartalom h2 {
  font-size: 24px;
  color: #2F3B49;
  margin-top: 20px; 
}

.rolunkTartalom p {
  margin-bottom: 15px; 
  text-align: justify;
}

.card-text{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: justify;
}
.szuresRendezes{
  font-size: 2.5vw;
}

.rolunkIdezet{
  margin: 0vw 4vw 0vw 4vw;
  padding: 1vw 4vw 1vw 4vw;
  font-weight: bold;
  font-style: italic;
  font-size: 2.4vh;
  text-align: left;
}
#termek-kep{
  width: 100%;
}
#termek-arak{
  text-align: right;
  font-weight: bold;
  font-size: 1.5vw;
}
#termek-leiras{
  text-align: justify;
  font-size: 2.2vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 1vw;
}

#kosarbaButton {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#kosarbaButton button{
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0; /* Duplázd meg a padding méretét */
  font-size: 3.6vh;
  padding: 5px 20px 5px 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  margin-top: 2vw;
}

#kosarbaButton button:hover{
  background-color: #2F3B49;
  -ms-transform: scale(1.01);
  -webkit-transform: scale(1.01);
  transform: scale(1.01); 
  cursor: pointer;
}

#kosarbaButton i{
  color: #fff;
}
