.aboutUsContainer .aboutUsHeading {
    width: 80%;
    margin: auto;
    text-align: center;

}

.aboutUsContainer .aboutUsHeading h1 {
    margin: 10px auto;
    padding: 1vw 4vw 1vw 4vw;
    font-weight: bold;
    font-style: italic;
    font-size: 2.4vh;
    text-align: left;
}


.wrapper {
    width: 95%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5%; /* Ez a gap hozzáad egy 20px-es távolságot a wrapper elemek között */
}

.image {
    width: 100%;
    margin-top: 20px; /* Ez a margin hozzáad egy 20px-es távolságot a képek felett */
}

.content {
    width: 100%; /* Teljes szélesség a mobil nézetben */
    margin-top: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.content h2 {
    font-size: 25px;
    color: #2F3B49;
    margin-top: 20px;
}

.content p {
    color: #666;
    font-size: 16px;
    margin-top: 10px;
    text-align: justify;
}

.image {
    width: 100%; /* Teljes szélesség a mobil nézetben */
}

.image img {
    height: auto;
    border-radius: 10px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .content,
    .image {
        width: 48%; /* Két oszlopos elrendezés */
    }

    .content h2 {
        font-size: 24px;
    }
    .image {
        margin-top: 0; /* Ne legyen margin a képek felett desktop nézetben */
    }

}

.bye h3{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}