.content {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
}
.aboutTop{
    background-image: url(../../imgs/aboutUs2.jpg);
    min-height: 30vw;
}
h1{
    color: #ffffff;
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    padding-top: 6vw;
}
.aboutContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.imageGallery img {
    width: 100%;
    max-width: 300px;
    margin: 10px;
    border-radius: 8px;
}

.joinUsButton {
    display: inline-block;
    background-color: #ff9900;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 20px;
}
