.content {
  background-color: #f8f9fa; /* Világos háttér */
  border-radius: 1vw; /* Kerekített sarkok */
  box-shadow: 0 0.4vw 0.6vw rgba(0,0,0,0.1); /* Enyhe árnyék */
  padding: 2vw; /* Belső térköz */
  margin: 2vw auto; /* Automatikus margó középre igazításhoz */
  width: 80vw; /* Szélesség */
  max-width: 90%; /* Maximális szélesség a nagy képernyőkön */
  height: 60%;
}

.admin-item {
  background-color: #ffffff; /* Fehér háttér az egyes elemeknek */
  border-radius: 1vw; /* Kerekített sarkok */
  box-shadow: 0 0.2vw 0.4vw rgba(0,0,0,0.1); /* Enyhe árnyék */
  margin: 1vw 0; /* Margó az elemek között */
  padding: 1.5vw; /* Belső térköz */
  transition: transform 0.3s ease-in-out; /* Animáció a hover effekthez */
  text-align: center;
}

.admin-item:hover {
  transform: translateY(-0.5vw); /* Enyhe emelkedés hoverkor */
}

.admin-item i {
  font-size: 2.4vw; /* Ikon méretezése */
  margin-bottom: 1vw; /* Margó az ikon alatt */
}

.admin-item p {
  font-size: 2vw; /* Szöveg méretezése */
  font-weight: bold; /* Félkövér szöveg */
}

.admin-item span {
  display: block; /* Új sor a szövegnek */
  margin-top: 0.5vw; /* Margó a szöveg felett */
  color: #6c757d; /* Szürke szövegszín */
}

/* Reszponzív módosítások kisebb képernyőkre */
@media (max-width: 600px) {
  .content, .admin-item {
    padding: 4vw; /* Nagyobb térköz a kisebb képernyőkön */
    border-radius: 2vw; /* Nagyobb kerekített sarkok */
  }

  .admin-item i, .admin-item p, .admin-item span {
    font-size: 4vw; /* Nagyobb betűméret */
  }
}
