/* Add general styling for the admin content */
.adminContent {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .adminContent h2 {
    color: #333;
  }
  
  /* Style form elements */
  .adminContent form {
    display: grid;
    gap: 10px;
  }
  
  .adminContent label {
    font-weight: bold;
  }
  
  .adminContent input[type="text"],
  .adminContent input[type="number"],
  .adminContent textarea,
  .adminContent select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .adminContent input[type="file"] {
    width: auto;
    padding: 8px 0;
  }
  
  .adminContent input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .adminContent input[type="submit"]:hover {
    background-color: #45a049;
  }
  body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: #ffffff;
  }
  .content{
    margin: 0;
    background-color: #fff;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 210px;
    background-color: #2A3F54;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 16px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
   
  .sidebar a.active {
    background-color: #1a50ba;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
.adminImg{
    width: 2vw;
    display: block; /* Blokkként való megjelenítés */
    margin: 0 auto;
    padding: 2px;
}
.admin-item{
  background-color: #bcbcbc;
  text-align: center;
  width: 70%;
  padding: 10px;
  color: #333;
  margin-top: 2vw;
}