.content {
  background-color: #f8f9fa; /* Világos háttér */
  box-shadow: 0 0.4vw 0.6vw rgba(0,0,0,0.1); /* Enyhe árnyék */
  padding: 2vw; /* Belső térköz */
  margin: 2vw auto; /* Automatikus margó középre igazításhoz */
  width: 90%; /* Maximális szélesség a nagy képernyőkön */
  height: 60%;
}

.admin-item {
  background-color: #ffffff; /* Fehér háttér az egyes elemeknek */
  border-radius: 1vw; /* Kerekített sarkok */
  box-shadow: 0 0.2vw 0.4vw rgba(0,0,0,0.1); /* Enyhe árnyék */
  margin: 1vw 0; /* Margó az elemek között */
  padding: 1.5vw; /* Belső térköz */
  transition: transform 0.3s ease-in-out; /* Animáció a hover effekthez */
  text-align: center;
}

.admin-item:hover {
  cursor: pointer;
}

.admin-item i {
  font-size: 2.4vw; /* Ikon méretezése */
  margin-bottom: 1vw; /* Margó az ikon alatt */
}

.admin-item p {
  font-size: 2vw; /* Szöveg méretezése */
  font-weight: bold; /* Félkövér szöveg */
}

.admin-item span {
  display: block; /* Új sor a szövegnek */
  margin-top: 0.5vw; /* Margó a szöveg felett */
  color: #6c757d; /* Szürke szövegszín */
}

/* Reszponzív módosítások kisebb képernyőkre */
@media (max-width: 600px) {
  .content, .admin-item {
    padding: 4vw; /* Nagyobb térköz a kisebb képernyőkön */
    border-radius: 2vw; /* Nagyobb kerekített sarkok */
  }

  .admin-item i, .admin-item p, .admin-item span {
    font-size: 4vw; /* Nagyobb betűméret */
  }
}
#logOutButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Árnyék hozzáadása */
  transition: all 0.3s ease; /* Átmeneti animáció */
}

#logOutButton:hover{
  background-color: #0056b3; /* Sötétebb háttérszín */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Nagyobb árnyék */
  transform: translateY(-2px); /* Enyhe felugrás */
}

@media (max-width: 768px) {
  #logOutButton {
      display: block;
      margin: 10px auto;
      width: 80%; /* Gomb szélességének beállítása mobil nézetben */
  }
  .logout-container {
      text-align: center; /* Gomb középre igazítása mobil nézetben */
  }
}
.logout-container{
  text-align: right; 
}