@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.wrapper{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vw;
  position: relative;
  max-width: 30vw;
  width: 100%;
  background: #fff;
  padding: 2vw;
  padding-top: 0.1vw;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrapper h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.wrapper h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: #4070f4;
}
.wrapper form{
  margin-top: 30px;
}
.wrapper form .input-box{
  height: 52px;
  margin: 18px 0;
}
form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
  border-color: #4070f4;
}
.policy {
  display: flex;
  align-items: center;
  gap: 10px; /* Állítsd be a kívánt távolságra */
}

form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input{
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #4070f4;
  cursor: pointer;
}
.input-box.button input:hover{
  background: #0e4bf1;
}
form .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}
form .text h3 a{
  color: #4070f4;
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;
}
.condition{
  color: #3f3f3f;
  text-align: justify;
  font-size: 0.9vw;
  line-height: 1.5vw;
}
.input-box {
  position: relative;
}

.password-toggle {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* A #profileInfo konténer általános formázása */
#profileInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative; /* Abszolút pozícionált elemek alapja */
  padding: 20px; /* Belülről való távolság */
  box-sizing: border-box; /* A padding is beleértendő a szélességbe és magasságba */
  min-height: 100%;
  padding-bottom: 80px; /* A lábléc magasságának megfelelően állítsd be */
  box-sizing: border-box;
}

/* A kijelentkezés gomb formázása */
/* A kijelentkezés gomb alap formázása */
#profileInfo button {
  padding: 10px 20px;
  background-color: #029be5;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Árnyék hozzáadása */
  transition: all 0.3s ease; /* Átmeneti animáció */
}

/* A gombra való egérrel történő rámutatáskor aktiválódó effektus */
#profileInfo button:hover {
  background-color: #0056b3; /* Sötétebb háttérszín */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Nagyobb árnyék */
  transform: translateY(-2px); /* Enyhe felugrás */
}

/* Reszponzív formázás mobil eszközökön */
@media (max-width: 768px) {
  #profileInfo button {
      padding: 5px 10px;
      font-size: 14px;
  }
}
#profileInfo h2{
  text-align: center;
}
.modal-body{
  text-align: justify;

}
@media (max-width: 768px) {
  .wrapper {
    max-width: 90vw; /* A mobil eszközök szélességének nagyobb részét használja ki */
    margin-top: 10px; /* Csökkentse a felső margót */
    padding: 10px; /* Csökkentse a paddingot */
    margin-bottom: 2vw;
  }
  .wrapper h2 {
    font-size: 20px; /* Kisebb betűméret */
  }
  .wrapper form .input-box input,
  .wrapper form .input-box button {
    font-size: 15px; /* Kisebb betűméret az inputokon és a gombokon */
  }
  .condition {
    font-size: 4vw; /* Növelje a betűméretet a jobb olvashatóság érdekében */
    line-height: 6vw; /* Növelje a sorközt a jobb olvashatóság érdekében */
  }
}
.countdown-display {
  font-family: 'Digital-7 Mono', monospace; /* Digitális órákhoz hasonló betűtípus */
  font-size: 30px; /* Nagyobb betűméret */
  color: #00C0FF; /* Neon kék szín */
  background-color: transparent; /* Átlátszó háttér */
  border: none; /* Eltávolítjuk a keretet */
  padding: 0; /* Eltávolítjuk a paddingot */
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.first-row {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Ha középre szeretnéd igazítani a tartalmat vertikálisan */
  width: 100%; /* Szükséges lehet, ha a .row nem tölti ki teljesen a szülő szélességét */
}

.col-auto {
  flex: 0 0 auto; /* Az elemek csak annyi helyet foglalnak el, amennyire szükségük van */
}

@keyframes blinkAnimation {
  50% {
    background-color: #029be5; /* Világító hatás az animáció közepén */
  }
}
.profileContent {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

.profileHeader {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.profileRow {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.profileRow strong {
  color: #000;
  margin-right: 10px;
}

.editIcon {
  margin-left: auto;
  color: #007bff;
  cursor: pointer;
}

.editIcon:hover {
  color: #0056b3;
}

@media (max-width: 768px) {
  .profileContent {
      padding: 15px;
      max-width: 100%;
  }

  .profileHeader {
      font-size: 20px;
  }

  .profileRow strong {
      display: block;
  }

  .editIcon {
    margin-left: auto;
    color: #007bff;
    cursor: pointer;
}

.editIcon:hover {
    color: #0056b3;
}

}
